* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(45deg, #c2ffe6, #ffc2db, #fffac2, #c2f3ff, #c2ffe6);
  font-family: 'Righteous', cursive;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 2em;
}

h1{
  font-size: 5em;
}

h2 {
  text-decoration: underline;
}

.mainContainer {
  background-image: url('data/texture.jpg');
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px;
  border-radius: 20px;
}

#header {
  grid-column-start: 0;
  grid-column-end: span 3;
}

#type {
  grid-column-end: span 2;
  display: flex;
  justify-content: flex-end;
}

#type > img {
  height: 30vmin;
}

#charPic {
  padding: 5vmin;
  grid-column-start: 0;
  grid-column-end: span 5;
}

#charPic > img {
  width: 100%;
}

#descrip {
  grid-column-start: 0;
  grid-column-end: span 5;
}

@media screen and (max-width: 800px) {


  .mainContainer {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }


  h1{
    font-size: 2em;
  }

  #header {
    grid-column-start: 0;
    grid-column-end: span 2;
  }

  #type {
    grid-column-end: span 1;
    display: flex;
    justify-content: flex-end;
  }

  #type > img {
    height: 20vmin;
  }

  #charPic {
    padding: 5vmin;
    grid-column-start: 0;
    grid-column-end: span 3;
  }



}
